<!-- Default home page -->
<link href="favicon.png" rel="shortcut icon" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/index_main.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/owl.theme.css">

<style> </style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script>
    $(document).ready(function() {
        $("#team2").owlCarousel({

          autoPlay: false,

          items : 5,
          itemsDesktop : [1199,3],
          itemsDesktopSmall : [979,3]
      });
    });
</script>

<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">DECA McGill</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#intro">Introduction</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#sponsors">Sponsors</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="sign-up"><a href="./signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>

                    <li id="login-choice" ><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div> <!-- end container -->
    </nav>


    <!-- Login: FadeToggle Part -->
    <div id="login">
            <!-- Modal content-->
            <form action="/login" method="POST">
                        <label name="username">Email:</label>
                        <input type="email" name="email"><br>
                        <label name="pwd">Password:</label>
                        <input type="password" name="password">
                        <br>

                        <button class="btn btn-default" type="submit" value="submit" >Login</button>
            </form>

    </div>


    <nav class="navbar top navbar-inverse" role="navigation">
        <h4 style="color:#00FF00";> <%- req.flash('message') %> </h4>
        <br>
        <br>
        <div class="section-header">
            <h2>Welcome to
                <h1 class="hidden-xs hidden-sm">Deca McGill</h1><h7 class="hidden-lg">Deca McGill</h7>
                <h5><em>Networking - Leadership - Professional Development</em></h5>
                <div class="fancy hidden-xs hidden-sm"><span><img src="img/logos/logo.png" width="20%" alt="..."></span></div>
                <br><br>
            </div>
        </nav>
        <br>
        <br>
        <br>

  <!-- Intro
  ================================================== -->
  <div id="intro">
    <div class="container"> <!-- container -->
        <br>
        <div class="section-header sub"><h1>Intro</h1></div>
        <div class="row"> <!-- row -->
            <div class="col-md-8 col-md-offset-2">
                <br><p>DECA McGill challenges emerging leaders and entrepreneurs to improve themselves. We strive to provide our delegates with valuable experiences they can use in pursuit of their career and life goals. We are able to accomplish this through professional development workshops, networking events, and case competitions.</p>
            </div>

        </div><!-- end row -->

        <hr>

        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="about-item scrollpoint sp-effect2">
                    <span class="highlight"><i class="fa fa-globe fa-2x"></i></span>
                    <h3>Networking</h3>
                    <p>Prepare yourself for the future by
                        <br>building your connections now.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="about-item scrollpoint sp-effect5">
                        <span class="highlight"><i class="fa fa-users fa-2x center"></i></span>
                        <h3>Leadership</h3>
                        <p>Learn the ability to translate visions
                            <br> and goals into reality.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="about-item scrollpoint sp-effect5">
                            <span class="highlight"><i class="fa fa-signal fa-2x"></i></span>
                            <h3>Professional Development</h3>
                            <p>Create the skills that will lead to your
                                <br> ultimate success.</p>
                            </div>
                        </div>
                    </div>

                </div><!-- end container -->
            </div>

<div id="register">
        <div class="container"> <!-- container -->
            <div class="section-header sub"><h1>Our strategy</h1></div>
            <div class="row"> <!-- row -->
                <div class="col-md-8 col-md-offset-2">
                    <br>
                    <p align="center">At DECA McGill, we follow two essential strategies to develop our delegates.</p><br>
                    <h3 align="left"><a class="white">1) Professional Development Events</a></h3>
                    <p align="left">Throughout the year, we aim to host bi-weekly professional development
                    events ranging from case cracking essentials to learning how to build a proper resume. The purpose of these events is to develop specific skills which our delegates can immediately benefit from.</p><br>
                    <h3 align="left"><a class="white">2) Case Competitions</a></h3>
                    <p align="left">DECA McGill hosts two major case competitions each year. A McGill exclusive fall competition, and a nationwide spring invitational. Our delegates also have the opportunity to other exclusive competitions as well, including the DECA Ontario Provincials.</p><br>reset.css
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
  </div>





    <!-- Team Section
!!!TO-DO: Replace photos
================================================== -->
<div id="team">
    <div class="container"> <!-- container -->
        <div class="section-header sub"><h1>The Team</h1></div>

        <div id="team2" class="owl-carousel owl-theme text-center"> <!-- team carousel wrapper -->

            <div class="item">
                <div class="hover-bg"> <!-- Team Wrapper -->
                </div><!-- End Hover Description -->
                <img src="img/team/john.jpg" alt="..." class="img-responsive"> <!-- Team Image -->
                <div class="team-detail text-center">
                    <h3>John Wu</h3>
                    <p>Co-President</p>
                    <ul class="list-inline social">
                        <li><a href="https://ca.linkedin.com/in/john-wu-3b262bb2" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="mailto:president@decamcgill.com"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div><!-- End Team Wrapper -->

            <div class="item">
                <div class="hover-bg"> <!-- Team Wrapper -->
                </div><!-- End Hover Description -->
                <img src="img/team/jillian.jpg" alt="..." class="img-responsive"> <!-- Team Image -->
                <div class="team-detail text-center">
                    <h3>Jillian Shao</h3>
                    <p>Co-President</p>
                    <ul class="list-inline social">
                        <li><a href="https://www.linkedin.com/in/jillianshao" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="mailto:president@decamcgill.com"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div><!-- End Team Wrapper -->

            <div class="item">
                <div class="hover-bg"> <!-- Team Wrapper -->
                </div><!-- End Hover Description -->
                <img src="img/team/herman.jpg" alt="..." class="img-responsive"> <!-- Team Image -->
                <div class="team-detail text-center">
                    <h3>Herman Tubungbanua</h3>
                    <p>VP Communications</p>
                    <ul class="list-inline social">
                        <li><a href="https://www.linkedin.com/in/herman-tubungbanua-43a126ba" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="mailto:communications@decamcgill.com"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div><!-- End Team Wrapper -->

            <div class="item">
                <div class="hover-bg"> <!-- Team Wrapper -->
                </div><!-- End Hover Description -->
                <img src="img/team/wynn.jpg" alt="..." class="img-responsive"> <!-- Team Image -->
                <div class="team-detail text-center">
                    <h3 style="font-size:9px;">Wyn Sutuntivorakoon</h3>
                    <p>VP Internal</p>
                    <ul class="list-inline social">
                        <li><a href="https://www.linkedin.com/in/herman-tubungbanua-43a126ba" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="mailto:communications@decamcgill.com"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div><!-- End Team Wrapper -->


            <div class="item">
                <div class="hover-bg"> <!-- Team Wrapper -->
                </div><!-- End Hover Description -->
                <img src="img/team/ahmad.jpg" alt="..." class="img-responsive"> <!-- Team Image -->
                <div class="team-detail text-center">
                    <h3>Ahamd Hassan</h3>
                    <p>VP Finance</p>
                    <ul class="list-inline social">
                        <li><a href="" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="mailto:finance@decamcgill.com"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div><!-- End Team Wrapper -->

            <div class="item">
                <div class="hover-bg"> <!-- Team Wrapper -->
                </div><!-- End Hover Description -->
                <img src="img/team/chris.jpg" alt="..." class="img-responsive"> <!-- Team Image -->
                <div class="team-detail text-center">
                    <h3>Christopher Ly</h3>
                    <p>VP External</p>
                    <ul class="list-inline social">
                        <li><a href="https://ca.linkedin.com/in/christopher-ly-399035115" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="mailto:external@decamcgill.com"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div><!-- End Team Wrapper -->

            <div class="item">
                <div class="hover-bg"> <!-- Team Wrapper -->
                </div><!-- End Hover Description -->
                <img src="img/team/uday.jpg" alt="..." class="img-responsive"> <!-- Team Image -->
                <div class="team-detail text-center">
                    <h3>Uday Sahni</h3>
                    <p>Technical Director</p>
                    <ul class="list-inline social">
                        <li><a href="https://ca.linkedin.com/in/uday-sahni-478171106" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="mailto:tech@decamcgill.com"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div><!-- End Team Wrapper -->

            <div class="item">
                <div class="hover-bg"> <!-- Team Wrapper -->
                </div><!-- End Hover Description -->
                <img src="img/team/jing.jpg" alt="..." class="img-responsive"> <!-- Team Image -->
                <div class="team-detail text-center">
                    <h3>Jing Liu</h3>
                    <p>Technical Director</p>
                    <ul class="list-inline social">
                        <li><a href="https://ca.linkedin.com/in/jingyun-liu-449b23b2/en" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="mailto:tech@decamcgill.com"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div><!-- End Team Wrapper -->

            <div class="item">
                <div class="hover-bg"> <!-- Team Wrapper -->
                </div><!-- End Hover Description -->
                <img src="img/team/mukit.jpg" alt="..." class="img-responsive"> <!-- Team Image -->
                <div class="team-detail text-center">
                    <h3>Mukit Bin Momin</h3>
                    <p>Events Coordinator</p>
                    <ul class="list-inline social">
                        <li><a href="https://ca.linkedin.com/in/mukit-bin-momin-812926109" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="mailto:mukit.momin@decamcgill.com"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div><!-- End Team Wrapper -->

            <div class="item">
                <div class="hover-bg"> <!-- Team Wrapper -->
                </div><!-- End Hover Description -->
                <img src="img/team/victoria.jpg" alt="..." class="img-responsive"> <!-- Team Image -->
                <div class="team-detail text-center">
                    <h3>Victoria Liang</h3>
                    <p>Events Coordinator</p>
                    <ul class="list-inline social">
                        <li><a href="https://ca.linkedin.com/in/yunyu-liang-ba3923a1/en" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="mailto:victoria.liang@decamcgill.com"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div><!-- End Team Wrapper -->

            <div class="item">
                <div class="hover-bg"> <!-- Team Wrapper -->
                </div><!-- End Hover Description -->
                <img src="img/team/jordan.jpg" alt="..." class="img-responsive"> <!-- Team Image -->
                <div class="team-detail text-center">
                    <h3>Jordin Sinder</h3>
                    <p>Events Coordinator</p>
                    <ul class="list-inline social">
                        <li><a href="" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="mailto:jordan.sinder@decamcgill.com"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div><!-- End Team Wrapper -->

            <div class="item">
                <div class="hover-bg"> <!-- Team Wrapper -->
                </div><!-- End Hover Description -->
                <img src="img/team/kirah.jpg" alt="..." class="img-responsive"> <!-- Team Image -->
                <div class="team-detail text-center">
                    <h3>Kirah Goldberg</h3>
                    <p>Events Coordinator</p>
                    <ul class="list-inline social">
                        <!---LINKS-->
                        <li><a href="https://ca.linkedin.com/in/kirah-goldberg-9bb88a10b" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="mailto:kirah.goldberg@decamcgill.com"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div><!-- End Team Wrapper -->

            <div class="item">
                <div class="hover-bg"> <!-- Team Wrapper -->
                </div><!-- End Hover Description -->
                <img src="img/team/nikita.jpg" alt="..." class="img-responsive"> <!-- Team Image -->
                <div class="team-detail text-center">
                    <h3>Nikita Lisitsyn</h3>
                    <p>Events Coordinator</p>
                    <ul class="list-inline social">
                        <!---LINKS-->
                        <li><a href="https://ca.linkedin.com/in/nikitalisitsyn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="mailto:nikita.lisitsyn@decamcgill.com"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div><!-- End Team Wrapper -->

            <div class="item">
                <div class="hover-bg"> <!-- Team Wrapper -->
                </div><!-- End Hover Description -->
                <img src="img/team/matt.jpg" alt="..." class="img-responsive"> <!-- Team Image -->
                <div class="team-detail text-center">
                    <h3>Matthew Yaremko</h3>
                    <p>Events Coordinator</p>
                    <ul class="list-inline social">
                        <!---LINKS-->
                        <li><a href="" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="mailto:matthew.yaremko@decamcgill.com"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </ul>
            </div>
        </div><!-- End Team Wrapper -->


    </div> <!-- end team carousel wrapper -->

</div> <!-- container -->
</div>




  <!-- Sponsors
  ================================================== -->
  <div id="sponsors">
    <div class="container"> <!-- container -->
        <div class="section-header sub"><h1>Sponsors</h1></div>
        <div class="row"> <!-- row -->
            <div class="col-md-8 col-md-offset-2">
                    <img src="img/logos/ssmu.png" width="25%">
                    <br>
                    <br>
                    Interested in working with us? <a href="/sponsorship.pdf">Sponsorship package</a>
                </p>
            </div>

        </div><!-- end row -->
    </div><!-- end container -->
</div>

</div>
<!--footer class-->
<div class="footer">
    <div class="text-center">
        <h6 class="h5 space-4 hide-sm">Join Us On</h6>


        <a href="https://www.facebook.com/DECA.McGill/?fref=ts" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
            <span class="screen-reader-only">Facebook</span>
            <i class='icon footer-icon icon-facebook'></i>
        </a>




        <a href="https://www.linkedin.com/company/2648081?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2648081%2Cidx%3A2-1-2%2CtarId%3A1463941262138%2Ctas%3Adeca%20mcgill" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
          <span class="screen-reader-only">LinkedIn</span>
          <i class='icon footer-icon icon-linkedin'></i>
      </a>



      <a href="mailto:president@decamcgill.com" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
          <span class="screen-reader-only">Email</span>
          <i class='icon footer-icon icon-instagram'></i>
      </a>

      <div class="space-top-2 text-muted">
          &copy; DECA McGill.
      </div>
  </div>
</div>
