@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

body,html{
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

.highlight { color: #f23c36 }

a,
a:visited{
    text-decoration: none;
    color: #f23c36;
}

a:hover{
    text-decoration:none;
    color: #000;
}

a.white:hover{
    text-decoration:none;
    color: #FFF;
}

.btn.btn-primary,
a.btn.btn-primary{
  color: #fff;
  background-color: #f23c36;
  border-color: #f23c36;
  padding: 7px 10px;
  transition: all 0.5s;
}

.btn.btn-primary:hover,
a.btn.btn-primary:hover,
a.btn.btn-primary:focus, 
a.btn-primary:active, 
a.btn-primary.active{
  color: #fff;
  background-color: #f23c36;
  border-color: #f23c36;
  padding: 7px 30px; 
}

.sub h1{
font-size: 20px;
}

h1 {
font-family: 'Lato', sans-serif;
font-size: 35px;
text-transform: uppercase;
-webkit-font-smoothing: antialiased;
word-spacing: 5px;
letter-spacing: 15px;
}

h2 {
font-size: 16px;
text-transform: uppercase;
-webkit-font-smoothing: antialiased;
word-spacing: 5px;
letter-spacing: 2px;
}

h3{
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

.invit{
    margin-top: 10px;
}

h4{
  font-size: 16px;
  font-weight: 700;
}

h6{
  font-size: 11px;
  font-style: italic;
}

h7{
font-family: 'Lato', sans-serif;
font-size: 25px;
text-transform: uppercase;
-webkit-font-smoothing: antialiased;
word-spacing: 3px;
letter-spacing: 10px;
}

hr{
    padding-bottom: 20px;
}

p{
  font-size: 16px;
}

.section-header {
        text-align: center;
}

.top2{
  padding-top: 150px;
  padding-bottom: 100px;
  height: auto;
  border-radius: 0px;
  border-bottom: 6px solid #f23c36;
  color: #ffffff;
  text-align: center;
  background: linear-gradient(rgba(40, 47, 53, 0.95), rgba(40, 47, 53, 0.95)), url(/img/leacock.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top{
  padding-top: 150px;
  padding-bottom: 100px;
  height: auto;
  border-radius: 0px;
  border-bottom: 6px solid #f23c36;
  color: #ffffff;
  text-align: center;
  background: linear-gradient(rgba(40, 47, 53, 0.95), rgba(40, 47, 53, 0.95)), url(/img/mcgill.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.toppayment{
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;
  border-radius: 0px;
  border-bottom: 6px solid #f23c36;
  color: #ffffff;
  text-align: center;
  background: linear-gradient(rgba(40, 47, 53, 0.95), rgba(40, 47, 53, 0.95)), url(/img/mcgillcollege.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.styles{
  padding: 10px;
  margin-bottom: 30px;
}

#layouts{
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: gray;
  text-align: center;
  height: 32rem;
}

#colors{
  text-align: center;
  background: rgb(241, 241, 241);
  padding-top: 100px;
  padding-bottom: 40px;
}

#colors img{
  height: 75px;
  padding: 5px;
  margin: 5px;
  opacity: 0.50;
}

#colors img:hover{
  opacity: 1;
  -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
  -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

ul.colors  li{
  clear: both;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.styles img {
  border: 1px solid #ddd;
  opacity: 0.95;
  /*box-shadow: 5px 4px 0 0 #E6E6E6;*/
  -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

.styles:hover img {
  opacity: 1;
  -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
  
}

.footer {
  background: #282f35;
  border-top: 6px solid #f23c36;
  font-size: 14px;
  min-height: 65px;
  margin-bottom: 0px;
  border-radius: 0px;
  text-align: center;
  padding: 25px 0 25px 0;
}

.contact{
  padding-top: 10px;
  text-align: center;
  color: #f3f3f3;
}

.fancy {
    line-height: 0.5;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
.fancy span {
    display: inline-block;
    position: relative;
}
.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 15px;
    border-bottom: 1px solid #f1f1f1;
    top: 45px;
    width: 400px;
}
.fancy span:before {
    right: 60%;
    margin-right: 10px;
}
.fancy span:after {
    left: 60%;
    margin-left: 10px;
}

#intro{
  padding-top: 20px;
  padding-bottom: 80px;
  text-align: center;
}
.intro-p{
  padding-top: 20px;
  padding-bottom: 80px;
  text-align: left;
}
#categories{
    padding-top: 40px;
    padding-bottom: 80px;
    text-align: center;
}
#itinerary{
    background-color: #282f35;
    color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 80px;
}

#register{
    background-color: #282f35;
    color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.time {
    float: right;
}

#team {
    padding-top: 40px;
    padding-bottom: 80px;
    text-align: center;    
}

#sponsors{
    padding-top: 40px;
    padding-bottom: 50px;
    text-align:center;
}

#members{
    background-color: #282f35;
    color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 80px;
    text-align: center;
}

.left{
    text-align:left;
}

.pad{
    margin-top: -60px;
}

.pad2{
    margin-top: 20px;
}

#team2{
    margin-top: 30px;
}
#team2 .item{
  margin: 3px;
    padding: 20px;
}
#team2 .item img{
  display: block;
  width: 100%;
  height: auto;
}

/*Events*/

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol, ul {
  list-style: none;
}

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #f23c36;
}
.cd-timeline-img.cd-movie {
  background: #f23c36;
}
.cd-timeline-img.cd-location {
  background: #f23c36;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 40px;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #282f35;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #fff;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #f23c36;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #282f35;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #282f35;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}